@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: second;
    src: url("https://api2.fonts.com/FontSubsetter.ashx?d44f19a684109620e4841578a190e81899ea4ef258eef72d3a036e96543ce79f6a8dbdb4030c201d44f5a4bc228df0de57f0fa4ba0f947180304a98ae97f6820d88b216494a7523fe41516cbaebaa61f487114ff55997d006eb12fc16366f6d1b9379f75b932fa39bde38f24534f32b44374091b&fctypeId=14&fcId=c4fad52e-333a-4c46-b6eb-5522ce49b01b&ranges=20-7e,a1-a1,a3-a3,a5-a5,a7-a7,a9-ab,ae-ae,b4-b4,b7-b7,ba-bb,bf-d6,d8-f6,f8-107,10c-113,116-11b,11e-11f,122-123,12a-12b,12e-131,136-137,139-13e,141-148,14c-14d,150-155,158-15b,15e-165,16a-16b,16e-173,178-17e,401-40c,40e-44f,451-45c,45e-45f,490-491,2013-2014,2018-201a,201c-201e,2020-2021,2026-2026,2039-203a,20ac-20ac,20b4-20b4,2122-2122&ot=false&projectId=d4e9a514-63ad-4b92-b0b9-b19163f3cb59") format("woff2");
}

html :is(*, *::before, *::after) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    line-height: 1.5;
    color: var(--clr-gray);
    user-select: none;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

:root {
    /* color */
    --body-clr: #0B0C1C;
    --white: #fff;
    --clr-gray: #a6a6aa;
    --clt-gray-trans: rgb(255 255 255 / 23%);

    /* transition */
    --tran: .3s ease;
    --tran2: .5s ease-in-out;

    /* font secondary */
    --font-secon: second, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: #205070;
    color: var(--clt-gray);
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    background-color: var(--body-clr);
}

/* background shap animation */
body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 500px;
    height: 500px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #121232a2;
    animation: shap-one 15s ease infinite alternate;
    -webkit-animation: shap-one 15s ease infinite alternate;
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    background-color: #121232b1;
    border-radius: 53% 47% 61% 39% / 32% 74% 26% 68%;
    -webkit-border-radius: 53% 47% 61% 39% / 32% 74% 26% 68%;
    -moz-border-radius: 53% 47% 61% 39% / 32% 74% 26% 68%;
    -ms-border-radius: 53% 47% 61% 39% / 32% 74% 26% 68%;
    -o-border-radius: 53% 47% 61% 39% / 32% 74% 26% 68%;
    animation: shap-two 15s ease infinite alternate;
    -webkit-animation: shap-two 15s ease infinite alternate;
    z-index: -2;
}

/* shape animation one */
@keyframes shap-one {
    40% {
        transform: rotate(90deg) scale(1);
        -webkit-transform: rotate(90deg) scale(1);
        -moz-transform: rotate(90deg) scale(1);
        -ms-transform: rotate(90deg) scale(1);
        -o-transform: rotate(90deg) scale(1);
        left: 10%;
    }

    70% {
        transform: rotate(180deg) scale(1.5);
        -webkit-transform: rotate(180deg) scale(1.5);
        -moz-transform: rotate(180deg) scale(1.5);
        -ms-transform: rotate(180deg) scale(1.5);
        -o-transform: rotate(180deg) scale(1.5);
        top: 50%;
    }

    90% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        left: 50%;
    }

    100% {
        transform: rotate(360deg) scale(.5);
        -webkit-transform: rotate(360deg) scale(.5);
        -moz-transform: rotate(360deg) scale(.5);
        -ms-transform: rotate(360deg) scale(.5);
        -o-transform: rotate(360deg) scale(.5);
        left: 30%;
    }
}

/* shape animation two */
@keyframes shap-two {
    40% {
        transform: rotate(360deg) scale(.5);
        -webkit-transform: rotate(360deg) scale(.5);
        -moz-transform: rotate(360deg) scale(.5);
        -ms-transform: rotate(360deg) scale(.5);
        -o-transform: rotate(360deg) scale(.5);
        right: 20%;
    }

    70% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        bottom: 50%;
    }

    90% {
        transform: rotate(180deg) scale(1.5);
        -webkit-transform: rotate(180deg) scale(1.5);
        -moz-transform: rotate(180deg) scale(1.5);
        -ms-transform: rotate(180deg) scale(1.5);
        -o-transform: rotate(180deg) scale(1.5);
        right: 50%;
    }

    100% {
        transform: rotate(90deg) scale(1);
        -webkit-transform: rotate(90deg) scale(1);
        -moz-transform: rotate(90deg) scale(1);
        -ms-transform: rotate(90deg) scale(1);
        -o-transform: rotate(90deg) scale(1);
        right: 30%;
    }
}

/* ====== header ===== */
header {
    position: fixed;
    inset: 0 auto auto 0;
    width: 100%;
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}

/* logo */
.logo {
    width: 100px;
    height: 100px;
    display: block;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* audio */
.audio-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.audio-btn i {
    position: absolute;
    font-size: 50px;
    transition: var(--tran);
    -webkit-transition: var(--tran);
    -moz-transition: var(--tran);
    -ms-transition: var(--tran);
    -o-transition: var(--tran);
    color: var(--white);
}

#puse {
    opacity: 0;
}

#puse.puse-act {
    opacity: 1;
}

/* ===== nav ==== */
nav {
    position: fixed;
    inset: 50% auto auto 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding-left: 3em;
    font-size: 13px;
}

ul li {
    margin-block: 3em;
    text-transform: uppercase;
    font-family: var(--font-secon);
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    color: var(--clr-gray);
}

.content .icon {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid var(--white);
    margin-right: 15px;
    display: inline-block;
    transition: var(--tran);
    -webkit-transition: var(--tran);
    -moz-transition: var(--tran);
    -ms-transition: var(--tran);
    -o-transition: var(--tran);
}

nav :is(.icons-act .icon, .content.scrollSec .icon) {
    width: 17px;
    height: 17px;
    border-width: 1px;
    margin-left: -5px;
}

.content .text {
    color: inherit;
    transition: var(--tran);
    -webkit-transition: var(--tran);
    -moz-transition: var(--tran);
    -ms-transition: var(--tran);
    -o-transition: var(--tran);
    margin-left: -10px;
    opacity: 0;
}

nav:hover .content .text {
    opacity: 1;
    margin-left: 0;
}

.content .text:hover {
    color: var(--white);
}

.content.scrollSec {
    color: var(--white);
}

/* ===== section ===== */
section:not(#sec-skills) {
    min-height: 100vh;
    padding: 1.5em 10em 1em;
}

/* ===== home-section ===== */
#sec-home {
    display: flex;
    align-items: center;
}

/* home-sec-text */
.sec-home__text {
    width: max-content;
}

.sec-home__text h1 {
    font-family: var(--font-secon);
    font-size: clamp(30px, 4vw, 55px);
    letter-spacing: 2px;
    color: var(--white);
}

.sec-home__text p {
    margin-block: 2em;
    width: min(450px, 100%);
}

/* btn-1 */
.btn-1 {
    width: 200px;
    height: 60px;
    display: block;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 100;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid var(--clr-gray);
    transition: var(--tran2);
    -webkit-transition: var(--tran2);
    -moz-transition: var(--tran2);
    -ms-transition: var(--tran2);
    -o-transition: var(--tran2);
}

.btn-1::before,
.btn-1::after {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 0;
    background-color: #9296F0;
    transition: width .5s ease-in-out;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -ms-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    z-index: -1;
}

@media(hover: hover) {
    .btn-1:hover {
        color: var(--white);
        border-color: var(--white);
    }

    .btn-1::after {
        content: "";
        inset: 0 0 auto auto;
    }

    .btn-1:hover::before,
    .btn-1:hover::after {
        width: 50%;
        background: #5B63B7;
    }
}

/* model-3d */
.model-3d {
    width: 60%;
    position: relative;
}

/* loadign-model__3d */
.loading-model {
    width: min(300px, 100%);
    height: 55px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
}

.loading-model>div {
    background-color: var(--white);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: load-3d;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
}

.load:nth-child(2) {
    animation-delay: 0.3s;
}

.load:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes load-3d {
    to {
        opacity: 0.2;
        transform: translatey(-20px);
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
        -ms-transform: translatey(-20px);
        -o-transform: translatey(-20px);
    }
}

.model-3d model-viewer {
    height: 600px;
    width: 100%;
    inset: auto auto auto 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: var(--tran2);
    -webkit-transition: var(--tran2);
    -moz-transition: var(--tran2);
    -ms-transition: var(--tran2);
    -o-transition: var(--tran2);
}

/* ===== skills-section ===== */
#sec-skills {
    padding: 1.5em 10em 1em;
}

.title {
    color: var(--white);
    font-size: clamp(24px, 6vw, 45px);
    font-family: var(--font-secon);
}

/* skills-container */
.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    padding-block: 2em;
    margin-top: 5em;
}

.skills-content span {
    font-weight: bold;
}

.skill-bar {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--clt-gray-trans);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    position: relative;
}

:is(.skill-bar>div, .skill-bar span) {
    font-weight: 500;
    z-index: 1;
    color: var(--white);
}

.skill-bar .line-progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    width: 0;
}



/* Photoshop*/
.phsho {
    /* background-color: #2DAAFF; */
    background-image: linear-gradient(to right, #2DAAFF, #205070 70%);
}

@keyframes photo {
    to {
        width: 90%;
    }
}

/*Pixologic ZBrush */
.zb {
    /* background-color: #a49494; */
    background-image: linear-gradient(to right, #a49494, #706464 70%);

}

@keyframes zb {
    to {
        width: 70%;
    }
}

/* Substance Painter */
.subpai {
    /* background-color: #E1202A; */
    background-image: linear-gradient(to right, #E1202A, #6e1418 70%);
}

/* Blender */
.ble {
    /* background-color: #F5792A; */
    background-image: linear-gradient(to right, #F5792A, #773d19 70%);
}

@keyframes ble {
    to {
        width: 50%;
    }
}

/* ===== projects-section ===== */
/* [go to style-sliderImag.css] */

/* ===== services-section ===== */

.ser-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-top: 5em;
}

.ser-content i {
    font-size: 2.5rem;
    background-image: linear-gradient(90deg, #4e4eb5b1 20%, #1f2464);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ser-content strong {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    margin-block: .5rem 1rem;
    display: block;
}

/* ===== scroll-mouse ===== */
.scroll-mouse {
    position: fixed;
    inset: auto auto 30px 50%;
    transform: translateX(-50%);
    height: 75px;
    width: 40px;
    border: 2px solid var(--white);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    transition: var(--tran);
    -webkit-transition: var(--tran);
    -moz-transition: var(--tran);
    -ms-transition: var(--tran);
    -o-transition: var(--tran);
    z-index: 11;
}

.scroll-mouse::before {
    content: "\e9a7";
    position: absolute;
    font-weight: bold;
    font-family: "boxicons";
    inset: 0 auto auto 50%;
    transform: translateX(-50%);
    opacity: 1;
    animation: mouse 2s ease infinite;
    -webkit-animation: mouse 2s ease infinite;
    font-size: small;
    top: 10px;
}

@keyframes mouse {
    to {
        opacity: 0;
        top: 50px;
    }
}

/* loading */
.loading {
    position: fixed;
    inset: 0;
    background-color: var(--body-clr);
    z-index: 1000;
    display: grid;
    place-items: center;
    transition: --tra;
    -webkit-transition: var(--tran2);
    -moz-transition: --tra;
    -ms-transition: --tra;
    -o-transition: --tra;
}

.loading-content {
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    animation: text-opacity 1s linear infinite alternate;
    -webkit-animation: text-opacity 1s linear infinite alternate;
    letter-spacing: 2px;
    font-size: large;
}

@keyframes text-opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

.loading-clr {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    mix-blend-mode: lighten;
    animation: rotate var(--duration) var(--timing) infinite;
    -webkit-animation: rotate var(--duration) var(--timing) infinite;
}

.loading-red {
    border-top: 10px solid lightcoral;
    --duration: 1.5s;
    --timing: ease-in-out;
}

.loading-green {
    border-left: 10px solid lightgreen;
    --duration: 2S;
    --timing: ease-in;
}

.loading-blue {
    border-right: 10px solid lightblue;
    --duration: 2.5s;
    --timing: ease-out;
}

@keyframes rotate {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}

/* footer */
footer {
    border-top: 1px solid var(--clt-gray-trans);
    margin-top: 5em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* socila media footer */
footer ol {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

footer ol li a {
    display: block;
    border: 1px solid var(--clt-gray-trans);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}

@media (hover: hover) {
    footer ol li a:hover {
        background-color: var(--clt-gray-trans);
    }

    footer ol li a:hover i {
        color: var(--white);
    }
}